{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div id="contenedor">
  <div id="central">
      <div id="login">
          <div class="titulo">
            <h1>Compras Internas</h1> 
          </div>

            {% if process == "connect" %}
            <h1 class="titulo-google">{% blocktrans with provider.name as provider %}Conectar con {{ provider }}{% endblocktrans %}</h1>

            <p class="titulo-google">{% blocktrans with provider.name as provider %}Está a punto de conectar una nueva cuenta de terceros desde {{ provider }}.{% endblocktrans %}</p>
            {% else %}
            <h1 class="titulo-google">{% blocktrans with provider.name as provider %}Iniciar sesion via {{ provider }}{% endblocktrans %}</h1>

            <p class="titulo-google">{% blocktrans with provider.name as provider %}Está a punto de conectar una nueva cuenta de terceros desde {{ provider }}.{% endblocktrans %}</p>
            {% endif %}


<form method="post">
  {% csrf_token %}
  <button type="submit" class="boton-google"><img src="{% static 'img/google-logo.png' %}" alt="logo google" id="login-google">Inicia Sesion con Google</button>
</form>


        </div>

    </div>
</div>

{% endblock %}
