{% extends 'layout.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/provider-google.css' %}">
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div id="contenedor">
    <div id="central">
        <div id="login">
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>Le hemos enviado un correo electrónico. Si no lo ha recibido, por favor revise su carpeta de correo no deseado. En caso contrario contacta con nosotros si no lo recibes en unos minutos.</p>
</div>

</div>
</div>

    {% endblock %}
