{% extends 'layout.html' %}
{% load account %}
{% load static %}


{% block content %}


<div class="row main2" style="margin: 0 2.5rem;">
  <div class="col-8">
      <div class="row" style="padding: 10px 0;">
          <div class="col-12">
              <div class="row">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Numero de Pedido</th>
                      <th scope="col">Cliente</th>
                      <th scope="col">Legajo</th>
                      <th scope="col">Codigo de Producto</th>
                      <th scope="col">Producto</th>
                      <th scope="col">Precio Unitario</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Acumulado</th>
                      <th scope="col">Fecha de Creacion</th>
                      <th scope="col" class="th-edit"></th>
                      <th scope="col" class="th-delete"></th>
                    </tr>
                  </thead>


                  <tbody>
                    {% for pedido in pedidos %}

                  <tr>
                    <!-- <th scope="row" class="td-data"></th> -->
                    <td class="nro-fiscal">{{ pedido.id  }}</td>
                    <td>{{ pedido.usuario }}</td>
                    <td>{{ pedido.legajo }}</td>
                    <td>{{ pedido.codProducto }}</td>
                    <td>{{ pedido.nombre }}</td>
                    <td>$ {{ pedido.precio }}</td>
                    <td>{{ pedido.cantidad }}</td>
                    <td>$ {{ pedido.acumulado }}</td>
                    <td>{{ pedido.fecha_creacion }}</td>
                    <td><a href="{% url 'editPedido' pedido.id %}" class="btn btn-warning">Editar</a></td>
                    <td><a href="{% url 'eliminarPedido' pedido.id %}" class="btn btn-danger">Eliminar</a></td>
                    <!-- agregamos un mensaje para que el usuario sepa que el objeto se elimino -->
                    
                  </tr>
                    {% endfor %}
                </tbody>
                </table>
              </div>
          </div>
      </div>
  </div>

  <div class="col-3" style="margin-left: 4.5rem;">
    <div class="alert alert-primary" style="background-color: rgba(128,128,128,0.08);" role="alert">

      <div class="d-flex justify-content-center align-items-center">Filtros</div>
      
      <div><a href="{% url 'listaPedidos' %}" class="btn btn-info mb-lg-3">Limpiar</a></div>
      
      <ul>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Usuarios
                </a>
                <ul class="dropdown-menu">
                  {% for user in users %}
                  <li><a class="dropdown-item" href="{% url 'filtroUsuario' id_user=user.id %}">{{ user.first_name }} {{ user.last_name }}</a></li>
                  {% endfor %}
                </ul>
          </li>
      
          <li class="nav-item dropdown pt-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Fecha
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'filtroUsuarioFecha' id_user=user.id rango='hoy' %}">Hoy</a></li>
                <li><a class="dropdown-item" href="{% url 'filtroFecha' 'mes' %}">Ultimo Mes</a></li>
              </ul>
        </li>
      
      </ul>
      
      </div>
  </div>
</div>






{% endblock %}