{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}


        
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Iniciar Sesion con Google
                </div>
                <form id="loginform" method="POST"> {% csrf_token %}

                    
                    <button type="submit" title="Ingresar" name="Ingresar">Continuar</button>
                </form>
               
        </div>
    </div>


{% endblock %}