.go-top-container{
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6rem;
    height: 6rem;
    z-index: -1;

}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background: none;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

}

.go-top-button img{
    position: absolute;
    font-size: 1.5rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s;

}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 6rem;
    height: 6rem;
    z-index: 11;
}


.show img{
    transform: translate(-50%, -50%) scale(1);
}


@keyframes popup{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 7rem;
        height: 7rem;

    }
    100%{
        width: 6rem;
        height: 6rem;
    }
}